.about {
  @media (min-width: $tablet) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop) {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }
}

.about__title {
  margin: 0;

  @media (min-width: $tablet) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    width: 355px;
  }
}

.about__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 12px 0 36px;

  @media (min-width: $tablet) {
    font-size: 20px;
    width: 500px;
    margin: 20px auto 35px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    font-size: 22px;
    text-align: left;
    line-height: 22px;
  }
}

.about__container {
  margin: 0 auto 36px;

  @media (min-width: $tablet) {
    margin: 61px auto 36px;
  }

  @media (min-width: $desktop) {
    min-height: 396px;
    margin: 120px auto 240px;
  }
}

.about__container p:last-child {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.about__container p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet) {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    width: 355px;
    margin: 8px 0;
  }
}

.about__image-container {
  margin-bottom: 36px;
  padding: 0;
  height: 280px;

  @media (min-width: $tablet) {
    min-width: 678px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 120px;
  }
}

.about__video-container {
  position: relative;
  margin-bottom: 40px;
  height: 170px;
  padding: 0;

  @media (min-width: $tablet) {
    width: 270px;
    bottom: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 360px;
    height: 230px;
    top: 405px;
    left: 400px;
  }
}

.about__button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgba($banner, 0.2);
  transform: translate(-50%, -50%);
  transition: border, opasity 0.6s;
  cursor: pointer;

  &::before {
    @include pseudo;

    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: $button-gradient;
    transition: color, background-color 0.6s;
    z-index: -1;

    @media (min-width: $desktop) {
      width: 70px;
      height: 70px;
    }
  }

  @media (min-width: $desktop) {
    width: 98px;
    height: 98px;
  }
}

.about__button svg {
  width: 12px;
  height: 12px;
}
