.faq__tab {
  font-family: $roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $base-blue;
  border: none;
  background-color: transparent;
}

.faq__tab--active {
  color: $base-white;
  background: $button-gradient;
}

.faq__list {
  @include list;
}

.faq__tab-container button {
  font-family: $roboto;
  padding: 24px 0;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $base-blue;
  font-size: 20px;
  line-height: 100%;
  text-align: start;
  border: none;
}
