.faq {
  background-color: $add-white;
  padding: 70px 0;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
    min-height: 743px;
  }
}

.faq__tab {
  font-family: $roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $base-blue;
  background-color: transparent;
  width: 140px;
  height: 46px;
  padding: 0;
  border: 1px solid rgba($base-blue, 0.2);
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 162px;
    height: 54px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $tablet) {
    width: 260px;
    height: 54px;
    font-size: 18px;
    line-height: 18px;
  }
}

.faq__container {
  @media (min-width: $tablet) {
    width: 678px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 1160px;
    padding: 0;
  }
}

.faq__tab--active {
  color: $base-white;
  background: $button-gradient;
  border: none;
}

.faq__list {
  @include list;
}

.faq__tab-container button {
  font-family: $roboto;
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $base-blue;
  font-size: 20px;
  line-height: 100%;
  text-align: start;
  border: none;
  background-color: $add-white;
  cursor: pointer;
  position: relative;

  ::after {
    @include pseudo;

    width: 14px;
    height: 14px;
    background: linear-gradient(to bottom, transparent 91%, $faq 91%, $faq 7%, transparent 7%), linear-gradient(to right, transparent 91%, $faq 91%, $faq 7%, transparent 7%);
    z-index: 3;
    right: 8px;
    top: 40px;
  }

  &::before {
    @include pseudo;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 2;
    right: 0;
    border: 1px solid $faq;
  }
}

.faq__tab-container--opened button {
  position: relative;

  ::after {
    @include pseudo;

    width: 14px;
    height: 1px;
    background-color: $base-white;
    z-index: 3;
    right: 8px;
    top: 40px;
  }

  ::before {
    @include pseudo;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $faq;
    z-index: 2;
    right: 0;
    top: 25px;
    border: 1px solid transparent;
  }
}

.faq__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    width: 260px;
    height: 246px;
  }
}

.faq__tab-container {
  border-top: 1px solid $input;
}

.faq__tab-container p {
  display: none;
  margin: 0;
  padding-bottom: 21px;
}

.faq__tab-container--opened p {
  display: block;
  line-height: 20px;
  font-size: 16px;

  @media (min-width: $tablet) {
    width: 500px;
    font-size: 18px;
    line-height: 24px;
  }
}

.faq__item {
  display: none;
}

.faq__item--active {
  display: block;
}

.faq__tab-container button span {
  width: 238px;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet) {
    width: 550px;
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $tablet) {
    width: 860px;
    font-size: 24px;
    line-height: 24px;
  }
}

.faq__tab-container:nth-child(1) button span {
  width: 210px;
}

.faq__title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.faq__tab-container--border {
  border-bottom: 1px solid $input;
}

.faq__tabs-container {
  @media (min-width: $desktop) {
    display: flex;
    width: 1160px;
    justify-content: space-between;
  }
}
