.features {
  background-color: $add-white;
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }
}

.features__title {
  margin: 0 auto 40px;
  text-align: center;
  padding: 0 10px;
  width: 320px;

  @media (min-width: $tablet) {
    width: 678px;
    padding: 0 45px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
    padding: 0 103px;
  }
}

.features__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    width: 324px;
    margin: 0;
    flex-direction: row;
    padding: 0;
  }

  @media (min-width: $desktop) {
    &:not(:nth-child(5n + 2)):not(:nth-child(5n)):not(:nth-child(5n - 1)) {
      padding-bottom: 38px;
      border-bottom: 2px solid rgba($tab, 0.2);
    }
  }
}

.features__item:nth-child(1),
.features__item:nth-child(4) {
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item:nth-child(5n + 3) {
  padding: 30px 75px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $base-white;
  background-color: $faq;

  @media (min-width: $tablet) {
    width: 320px;
    margin: 40px 179px 40px;
    padding: 35px;
  }
}

.features__item:nth-child(5n + 3) span {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: $base-white;
    margin: 5px 0 20px;

    @media (min-width: $tablet) {
      font-size: 24px;
      line-height: 100%;
  }
}

.features__item:nth-child(5n + 3) b {
    text-align: center;
    background: $base-white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features__item:nth-child(5n + 3)  p {
    width: 220px;
    text-align: center;
    color: $base-white;
}

.features__item b {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(128deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet) {
    font-size: 70px;
    line-height: 100%;
  }
}

.features__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  width: 230px;
  text-align: center;
  margin: 0;
  color: $base-blue;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.features__item h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $base-blue;
  margin: 12px 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    text-align: left;
  }
}

.features__item div span {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-desk;
  font-weight: 400;

  @media (min-width: $tablet) {
    line-height: 22px;
    text-align: left;
  }
}

.features__item div {
  display: flex;
  flex-direction: column;
}

.features__list {
  @include list;

  @media (min-width: $tablet) {
    display: flex;
    width: 678px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }
}

