.footer {
  background-color: $footer;
}

.footer__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  margin: 21px 0 28px;
  row-gap: 15px;

  @media (min-width: $tablet) {
    width: 393px;
    justify-content: flex-start;
    margin: 0;
    row-gap: 0;
  }

  @media (min-width: $desktop) {
    width: 570px;
    justify-content: space-between;
    margin: -5px 30px 0 0;
    text-align: right;
  }
}

.footer__list li {
  @media (min-width: $tablet) {
    width: 40px;
  }
}

.footer__list li:nth-child(2) {
  @media (min-width: $tablet) {
    width: 74px;
    margin-left: 31px;
  }
}

.footer__list li:nth-child(3) {
  @media (min-width: $tablet) {
    margin-left: 30px;
  }
}

.footer__list li:nth-child(4) {
  @media (min-width: $tablet) {
    margin-left: 26px;
  }
}

.footer__list li:nth-child(5) {
  @media (min-width: $tablet) {
    margin-left: 41px;
  }
}

.footer__link {
  font-family: $roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $base-white;
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 22px;
    text-align: center;
  }
}

.footer__social-list {
  @include list;

  display: flex;
  justify-content: left;
  gap: 20px;
  width: 115px;
  height: 25px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet) {
    width: 105px;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    width: 95px;
    flex-wrap: nowrap;
  }
}

.footer__container {
  padding: 40px 15px;

  @media (min-width: $tablet) {
    display: flex;
    padding: 43px 0 48px;
    justify-content: space-between;
    align-items: center;
    width: 678px;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    width: 1160px;
    padding: 39px 0 40px;
  }
}

.footer__social svg {
  fill: $footer;
}

.footer__social {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $base-white;
  padding-left: 6px;
}

.footer__social--ok {
  padding-top: 3px;
}

.footer__social--reddit {
  padding-top: 4px;
  padding-left: 4px;
}

.footer__social::before {
  @include pseudo;

  width: 25px;
  height: 25px;
  background-color: $footer;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.footer__social--vk::before {
  mask-image: url("../../img/stack.svg#vk");
}

.footer__social--ok::before {
  mask-image: url("../../img/stack.svg#ok");
}

.footer__social--ok svg {
  height: 18px;
}

.footer__social--reddit svg {
  height: 16px;
  width: 16px;
}

.footer__social--reddit::before {
  mask-image: url("../../img/stack.svg#reddit");
}

.footer__logo {
  width: 100px;
  height: 20px;

  @media (min-width: $tablet) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop) {
    width: 130px;
    height: 26px;
  }
}
