.offers {
  text-align: center;
}

.offers__wrapper {
  background-color: $banner;
  margin-bottom: 40px;
}

.offers__title {
  margin: 40px auto;
}

.offers__info {
  width: 320px;
  padding: 30px 30px 36px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet)  {
    width: 678px;
    padding: 0 45px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
    padding: 0 103px;
  }
}

.offers__picture-container {
  width: 320px;
  height: 360px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet)  {
    width: 678px;
    padding: 0 45px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
    padding: 0 103px;
  }
}

.offers__info b {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: $base-white;
  margin-bottom: 28px;
}

.offers__info span {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: $base-white;
  margin-bottom: 9px;
}

.offers__info h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: $base-white;
  margin-bottom: 28px;
  margin-top: 0;
}

.offers__link {
  font-family: $roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  color: $base-white;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.offers__card h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: $border-blue;
  margin-top: 0;
  margin-bottom: 20px;
}

.offers__card p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: $border-blue;
  margin-top: 0;
  margin-bottom: 20px;
}

.offers__card-link {
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: $border-blue;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.offers__card {
  width: 290px;
  min-height: 158px;
  margin: 0 auto 30px;
  padding: 20px 20px 26px;
  text-align: center;
  border-width: 7px;
  border-style: solid;
  border-image: $border-gradient 30;
}
