.offers__wrapper {
  background-color: $banner;
}

.offers__info b {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: $base-white;
}

.offers__info span {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.offers__info h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: $base-white;
}

.offers__link {
  font-family: $roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  color: $base-white;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.offers__card h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: $border-blue;
}

.offers__card p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: $border-blue;
}

.offers__card-link {
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: $border-blue;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}
