.page__title {
  font-family: $alumni;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

.page__form-container {
  background-color: $base-blue;
}

.page__form-contacts {
  padding-bottom: 70px;
}
