.page__title {
  font-family: $alumni;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
  }
}

.page__form-contacts {
  padding-bottom: 71px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.page__form-container {
  background-color: $base-blue;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.page__main {
  flex-grow: 1;
}
