.price__button {
  font-family: $roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba($base-blue, 0.5);
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    color: rgba($base-blue, 0.7);
    box-shadow: 0 2px 0 $tab-border;
    opacity: 0.7;
    cursor: pointer;
  }

  &:focus {
    color: $base-blue;
    outline: none;
    box-shadow: 0 2px 0 $base-blue;
  }

  &:active {
    box-shadow: 0 2px 0 $banner;
  }

  &:disabled {
    box-shadow: 0 2px 0 rgba($base-blue, 0.3);
    cursor: default;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}

.price__button--active {
  color: $base-blue;
  box-shadow: 0 2px 0 $tab;
}

.price__list {
  @include list;

  @media (min-width: $desktop) {
    display: flex;
    width: 1160px;
    justify-content: space-between;
  }
}

.price__item-title {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.price__time {
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.price__shadow {
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  color: $price-shadow;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 100px;
  color: $price-shadow;
  transform: translateX(-50%);

  @media (min-width: $tablet) {
    font-size: 100px;
    line-height: 150px;
  }
}

.price__cost {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  color: $add-blue;
  z-index: 1;
  margin-top: 87px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 90px;
  }
}

.price__sign {
  font-size: 48px;
  line-height: 72px;
  font-weight: 500;
  text-align: center;
  color: $base-blue;
  z-index: 1;
}

.price__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  color: $base-blue;
  width: 195px;
  height: 66px;
  padding: 25px 42px 25px 42px;
  border: 2px solid $base-blue;
  text-decoration: none;

  &:hover {
    color: $base-white;
    background: transparent $button-gradient;
    border-image: $button-gradient 30;
  }

  &:focus {
    color: $base-white;
    background-image: $button-gradient;
    outline: none;
  }

  &:active {
    opacity: 1;
    color: rgba($base-white, 0.7);
  }

  &:disabled {
    opacity: 0.3;
  }
}

.price__link--hover {
  &:hover {
    color: $base-white;
    background: transparent $button-gradient;
    border-image: $button-gradient 30;
  }
}

.price__title {
  margin: 40px 0 30px;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 60px 0 35px;
  }

  @media (min-width: $desktop) {
    margin: 100px 0 20px;
  }
}

.price__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-bottom: 2px solid rgba($tab-border, 0.2);

  @media (min-width: $tablet) {
    width: 310px;
    margin: 0 auto 45px;
  }

  @media (min-width: $desktop) {
    width: 350px;
    margin: 0 auto 45px;
  }
}

.price {
  background-color: $add-white;

  @media (min-width: $tablet) {
    background-image:
    image-set(
      url("../../img/disks-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/disks-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/disks-tablet@1x.png") type("image/png") 1x,
      url("../../img/disks-tablet@2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media (min-width: $desktop) {
    background-image:
    image-set(
      url("../../img/disks-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/disks-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/disks-desktop@1x.png") type("image/png") 1x,
      url("../../img/disks-desktop@2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.price__item {
  background-color: $base-white;
  padding: 50px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  transition: border 0.1s ease;
  border: 7px solid transparent;

  &:focus-within,
  &--hover {
    border-width: 7px;
    border-style: solid;
    border-image: $border-gradient 30;
  }

  @media (min-width: $tablet) {
    padding: 65px;
  }

  @media (min-width: $desktop) {
    min-height: 450px;
    width: 360px;
  }
}

.price__item:not(:last-child) {
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    padding: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 65px;
  }
}

.price__content {
  display: none;
}

.price__content--active {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.price__title {
  margin: 0;
  padding: 40px 0 30px;
}

.price__container {
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    width: 460px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
    padding: 0 0 100px 0;
  }
}
