.reviews {
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet) {
    padding-bottom: 60px;
  }
}

.reviews__content {
  background-color: $border-blue;
  margin: 0 auto;
  padding: 30px 25px;
  height: 328px;
  width: 240px;

  @media (min-width: $tablet) {
    width: 500px;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    height: 242px;
    padding: 40px 30px;
  }

  @media (min-width: $desktop) {
    width: 550px;
    display: flex;
    justify-content: space-between;
    height: 258px;
    padding: 60px;
    margin: 0 250px;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet) {
    padding: 0;
  }
}

.reviews__content cite {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $base-white;
  font-style: normal;
  text-align: center;
  display: block;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.reviews__content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: $base-white;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.reviews__title {
  margin: 41px auto 40px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 54px;
    line-height: 54px;
    margin: 60px auto 35px;
  }

  @media (min-width: $desktop) {
    margin: 100px auto 75px;
  }
}

.reviews__button {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    width: 20px;
    height: 242px;
    padding: 105px 25px;
  }
}

.reviews__button--prev {
  top: 77px;
  left: 25px;

  @media (min-width: $desktop) {
    top: unset;
    left: 360px;
  }
}

.reviews__button--next {
  transform: rotate(180deg);
  top: 77px;
  right: 25px;

  @media (min-width: $desktop) {
    top: unset;
    right: 360px;
  }
}

.reviews__content figure {
  margin: 0 0 2px;
  text-align: center;
}

.reviews__content blockquote {
  margin: 0;

  @media (min-width: $tablet) {
    display: block;
    width: 320px;
  }
}
