@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/Alumni-Sans/Alumni-Sans-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/Alumni-Sans/Alumni-Sans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto-Condensed/Roboto-Condensed-Bold.woff2") format("woff2"), url("../fonts/Roboto-Condensed/Roboto-Condensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto-Condensed/Roboto-Condensed-Regular.woff2") format("woff2"), url("../fonts/Roboto-Condensed/Roboto-Condensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto-Condensed/Roboto-Condensed-Light.woff2") format("woff2"), url("../fonts/Roboto-Condensed/Roboto-Condensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
