$roboto: "Roboto Condensed", "Arial", sans-serif;
$alumni: "Alumni Sans", "Arial", sans-serif;

$base-blue: #102654;
$base-white: #ffffff;
$add-blue: #103aae;

$video: #14367a;

$border-blue: #1c3374;
$tab: #d10a42;
$tab-border: #787878;
$button-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$button-focus: #000000;
$bg-button-focus: #c8c9cc;
$color-desk: #2e35ac;

$base-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$add-white: #f8f9fc;
$banner: #ed0233;

$footer: #030a1a;

$error: #ff121f;

$juri-hover: #b6bdcc;
$juru-shadow: #2a3b63;
$price-shadow: #e8e8e8;
$accordion-border: #74819c;

$display: block;
$pos: absolute;
$content: "";
$tablet: 768px;
$desktop: 1366px;
$mobile-only: 767px;
